* {
    font-family: "Helvetica", "Verdana", sans-serif;
    text-align: center;
    color:#101820;
    background-color: #FEE715;
    word-wrap: break-word;
    padding: 0% 1%;
}

ul, ol{
    display: inline-block;
}

li {
    text-align: left;
}

img {
    height: auto;
    width: 500px;
}